<%- include('../_common/_head', {
  key: '施術案内',
  pagetitle: '施術案内',
}) %>

<div id="wrapper">

  <%- include('../_component/_sub-header') %>
  <%- include('../_component/_global-navi') %>
    
  <div class="sub-mainvisual menu-visual">
    <h1>
        <div><span>施術案内</span></div>
    </h1>
  </div>

  <div class="content cf">

    <section class="menu">
      <div class="menu__insurance">
        <div class="menu__insurance__inner adjust-wrap">
          <div class="content__box__inner menu__mask">
              <h3><span>保険診療</span></h3>
              <dl class="content__box__list">
                <dt class="content__box__img"><figure></figure></dt>
                <dd class="content__box__text">
                  <ul>
                    <li>
                      <h4>外傷療法・手技療法</h4>
                      <p>
                          一般的なケガ(足首の捻挫、肉離れなど)や様々なスポーツ時に発生する損傷に対して措置を行います。<br>
                          マニュピュレーション、マッサージ、ストレッチ、筋膜アプローチなど症状に合わせて施術いたします。
                      </p>
                    </li>
                    <li>
                      <h4>電罨法・温冷罨法</h4>
                      <p>
                        物理療法として電気を通電したり、暖めたり冷やしたりすることによって、腫れや痛みを軽減していきます。骨折や捻挫などの外傷後の痛みや、筋肉の過度緊張など、血行促進や症状の緩和を行います。
                      </p>
                    </li>
                  </ul>
                </dd>
              </dl>
          </div>
        </div>
      </div>

      <div class="menu__free">
        <div class="menu__free__inner adjust-wrap">
          <div class="content__box__inner menu__mask">
              <h3><span>自費診療</span></h3>
              <dl class="content__box__list">
                <dt class="content__box__img"><figure></figure></dt>
                <dd class="content__box__text">
                  <ul>
                    <li>
                      <h4>症状ごとに選べる施術</h4>
                      <p>
                        ご希望の整体・鍼・指圧マッサージ・フットマッサージなどの施術を行います。
                      </p>
                    </li>
                    <li>
                      <h4>美容鍼</h4>
                      <p>
                        即効性と持続性のあるもので、リフトアップ、小顔、美肌、細胞活性等に効果があります。
                      </p>
                      <ol>
                        <li class="menu__acupuncture-before"></li>
                        <li class="menu__acupuncture-after"></li>
                      </ol>
                    </li>
                  </ul>
                </dd>
              </dl>
          </div>
        </div>
      </div>

      <div class="menu__accident">
        <div class="menu__accident__inner adjust-wrap">
          <div class="content__box__inner menu__mask">
              <h3><span>交通事故治療</span></h3>
              <dl class="content__box__list">
                <dt class="content__box__img"><figure></figure></dt>
                <dd class="content__box__text">
                  <ul>
                    <li>
                      <h4>事故専用の施術</h4>
                      <p>
                        交通事故のムチウチやケガの治療も自賠責保険や労災での治療が可能です。<br>
                        明確な治療内容を説明し手技、整体、最新機器による治療など最善の治療を行います。
                      </p>
                    </li>
                  </ul>
                </dd>
              </dl>
          </div>
        </div>
      </div>

    </section>

    <section class="line content__box bg-image">
      <div class="line__inner">
        <div class="content__box__inner">
            <dl class="content__box__list">
              <dt class="content__box__img"><figure></figure></dt>
              <dd class="content__box__text">お気軽にLINEで<br>お問い合わせください。</dd>
            </dl>
        </div>
      </div>
    </section>
  </div>
  
  <%- include('../_component/_footer') %>

</div>


<%- include('../_common/_foot') %>
