<%- include('../_common/_head', {
  key: '採用情報',
  pagetitle: '採用情報',
}) %>

<div id="wrapper">

  <%- include('../_component/_sub-header') %>
  <%- include('../_component/_global-navi') %>
    
  <div class="sub-mainvisual recruitment-visual">
    <h1>
        <div><span>採用情報</span></div>
    </h1>
  </div>


  <div class="content cf">

    <div class="recruitment-bg">

      <div class="sub-content">
        <section class="recruitment">
          <h3><span>採用情報</span></h3>
          <div class="recruitment__wrap">
            <dl class="recruitment__wrap__list">
              <dt class="recruitment__wrap__list-ttl">仕事内容</dt>
              <dd class="recruitment__wrap__list-discription">
                <h4>オープニングスタッフ</h4>
                <ul>
                  <li>・来客対応</li>
                  <li>・治療</li>
                  <li>・医療機器</li>
                  <li>・備品管理</li>
                  <li>・院内清掃</li>
                  <li>・洗濯</li>
                  <li>・カルテ管理</li>
                  <li>・事務処理補助</li>
                  <li>・マーケティングに付随する作業等</li>
                </ul>
                <p>
                  治療方法に関して当院では各先生のやり方を尊重いたします。売り上げによってインセンティブがあります。<br/>
                  研修会などはありませんので遅くまで残ることはありません。
                </p>
              </dd>
            </dl>
            <dl class="recruitment__wrap__list">
              <dt class="recruitment__wrap__list-ttl">応募資格・条件</dt>
              <dd class="recruitment__wrap__list-discription">
                鍼灸師<br>
                未経験歓迎<br>
                わずらわしい履歴書は必要ありませんのでお気軽にお会いできたらと思います。
              </dd>
            </dl>
            <dl class="recruitment__wrap__list">
              <dt class="recruitment__wrap__list-ttl">募集人数・募集背景</dt>
              <dd class="recruitment__wrap__list-discription">オープニングスタッフ募集の為色々未確定なことが多いのですが、働く方が働きたい職場をつくって行こうと思っていますのでよろしくお願いします。</dd>
            </dl>
            <dl class="recruitment__wrap__list">
              <dt class="recruitment__wrap__list-ttl">勤務地</dt>
              <dd class="recruitment__wrap__list-discription">東京都中野区鷺宮（最寄駅：西武新宿線鷺ノ宮駅徒歩2分）</dd>
            </dl>
            <dl class="recruitment__wrap__list">
              <dt class="recruitment__wrap__list-ttl">勤務時間</dt>
              <dd class="recruitment__wrap__list-discription">
                9:00&nbsp;～&nbsp;19:00<br>
                13:00&nbsp;～&nbsp;15:00（お昼休み１）
              </dd>
            </dl>
            <dl class="recruitment__wrap__list">
              <dt class="recruitment__wrap__list-ttl">給与</dt>
              <dd class="recruitment__wrap__list-discription">年収　2,400,000円以上（※想定月給　200,000円　～　250,000円）</dd>
            </dl>
            <dl class="recruitment__wrap__list">
              <dt class="recruitment__wrap__list-ttl">休日休暇</dt>
              <dd class="recruitment__wrap__list-discription">■週休2日制<br/>■祝日<br/>■GW<br/>■夏季休暇（3日）<br/>■年末年始休暇（5日）<br/>■有給休暇<br/>■慶弔休暇<br/>■産前産後休暇・育児休暇（取得実績あり）<br/>■リフレッシュ休暇（2年目から毎年2日付与）<br/>■結婚休暇<br/>■生理休暇</dd>
            </dl>
            <dl class="recruitment__wrap__list">
              <dt class="recruitment__wrap__list-ttl">福利厚生</dt>
              <dd class="recruitment__wrap__list-discription">交通費支給、インセンティブ、社会保険完備</dd>
            </dl>
            <p class="recruitment__mail">
              <a href="mailto:matsukawa.clinic@gmail.com?subject=求人応募&body=【氏名】%0D%0A【性別】"><button type="submit" class="btn btn-primary">Mailで応募する</button></a>
            </p>
            <div class="recruitment__attention">
              <p>
                  ※お電話でも、SMSメールでもLINEでもお気軽にご連絡ください！<br>もちろんご質問だけでもお待ちしております！
              </p>
              <a href="tel:08066075185">店舗携帯：：080-6607-5185</a>
            </div>
          </div>
        </section>
      </div>

    </div>

    <section class="line content__box bg-image">
      <div class="line__inner">
        <div class="content__box__inner">
            <dl class="content__box__list">
              <dt class="content__box__img"><figure></figure></dt>
              <dd class="content__box__text">お気軽にLINEで<br>お問い合わせください。</dd>
            </dl>
        </div>
      </div>
    </section>
  </div>
  
  <%- include('../_component/_footer') %>

</div>


<%- include('../_common/_foot') %>
